.text-field {
    -fx-text-fill: gray;
}

/* Spinner.css */
.text-field {
    -fx-background-color: #f5f5f5; /* Fondo claro */
    -fx-border-color: #ddd; /* Borde gris claro */
    -fx-padding: 8px 10x; /* Relleno interno */
    -fx-font-size: 25px; /* Tamaño de fuente acorde al botón */
    -fx-font-weight: normal;
    -fx-text-fill: #333; /* Color del texto */
    -fx-prompt-text-fill: #aaa; /* Color del texto de sugerencia */
    -fx-cursor: text;
}
.text-field:focused  {
    -fx-text-fill: black;
    -fx-border-color: #4CAF50; /* Color de borde cuando está enfocado */
    -fx-background-color: white; /* Fondo blanco cuando está enfocado */
}
